//@media (min-width: 1025px) and (max-width: 2280px)
 
@media (max-width: 1024px) 
    .block1 
        display none

    .block3
        float right
 

@media (max-width: 480px)
    .btn2 
        text-align center
        width 100%

    .brand2
        display none 

    .home-banner-links
        a
            color #FFFFFF
            text-align center
            padding 0.5em 
            width 100%      
            